<!DOCTYPE html>
<html>
<head>
  <title>G5jedi</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="whopper">
    <div id="header" class="saberborder">
      <a href="" class="logo">G5 Jedi</a>
      <form class="login-form">
        Login
        <input name="username" /><br />
        Password
        <input name="password" />
      </form>
    </div>
    <div id="middle" class="saberborder">
      <%= yield %>
    </div>

</body>
</html>
